<% content_for :sub_bar do %>
	<div class="subbar">
		<%= link_to "About", "#" %>
		<%= link_to "Event Rules", "#" %>
		<%= link_to "Accomodation", "#" %>
		<%= link_to "Pack List", "#" %>
	</div>
<% end %>
