<a href="signup.html" class="selected">Sign Up</a>
<hr/>
<div style="text-align: left; padding: 5px; font-size: 12px;">
	Next event: ILAN 2013<br>
	Registrations: Open<br>
	Location: VUB Mandela<br>
	Datum: 15 - 17 februari<br>
</div>
<hr/>
<a href="packlist.html" class="selected">Packlist</a>
