<%= render partial: "event_sub_bar" %>
<% content_for :top_content do %>
	<h2>Lorem Ipsum Dolor</h2>
	<p>Sit amet, consectetur adipiscing elit. Nulla ut eleifend velit. Mauris tristique, sapien at bibendum tempor, dui orci aliquet tortor, nec euismod est ligula ac dui. Aenean non ligula id mauris hendrerit condimentum eget et augue. Etiam pulvinar risus et urna bibendum accumsan. Donec sapien odio, interdum vitae ornare quis, porttitor nec enim. Integer laoreet rhoncus ligula at cursus. Vestibulum sit amet tortor nunc, ac rhoncus ante. Quisque pretium erat in risus rutrum condimentum.</p>
	<h2>In Eu Lorem</h2>
	<p>Et elit ornare eleifend. Duis ac neque condimentum augue tempus semper. Morbi imperdiet aliquet erat sit amet posuere. Integer orci ante, cursus ac tempus at, tempor non mauris. Etiam dui quam, varius nec faucibus vitae, blandit nec tortor. Mauris fermentum pulvinar neque, vel gravida turpis varius eu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent pharetra tempor diam, vitae semper ipsum sodales in. Sed laoreet vulputate lorem, non lacinia nunc iaculis a.</p>
<% end %>
	<h2>Signing up &amp; Event rules</h2>
	<h3>Entrance</h3>
	<div class="menu">
		<a href="signup.html" class="selected">Sign Up</a>
		<a href="site.event.rules.html" class="selected">Event Rules</a>
	</div>
	Seat &amp; table for your own computer: 10 EURO<br>
	Seat &amp; table for your own computer &amp; 10 EURO credit: 10EURO + IG-member<br>
	Day pass - Seat &amp; table for your own computer: 6 EURO;
	
	<h3>Important times</h3>
	Doors open: friday 15 February - 18:00<br>
	Network goes down: sunday 17 February - 20:00<br>
	All participants need to be out of Mandela: sunday 17 February - 22:00<br>
</div>
