<% content_for :top_content do %>
<% end %>

<% content_for :side_navigation do %>
	<%= render partial: "side_navigation" %>
<% end %>

<div class="text_block">
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut eleifend velit. Mauris tristique, sapien at bibendum tempor, dui orci aliquet tortor, nec euismod est ligula ac dui. Aenean non ligula id mauris hendrerit condimentum eget et augue. Etiam pulvinar risus et urna bibendum accumsan. Donec sapien odio, interdum vitae ornare quis, porttitor nec enim. Integer laoreet rhoncus ligula at cursus. Vestibulum sit amet tortor nunc, ac rhoncus ante. Quisque pretium erat in risus rutrum condimentum.
</div>
<div class="text_block">
	In eu lorem et elit ornare eleifend. Duis ac neque condimentum augue tempus semper. Morbi imperdiet aliquet erat sit amet posuere. Integer orci ante, cursus ac tempus at, tempor non mauris. Etiam dui quam, varius nec faucibus vitae, blandit nec tortor. Mauris fermentum pulvinar neque, vel gravida turpis varius eu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent pharetra tempor diam, vitae semper ipsum sodales in. Sed laoreet vulputate lorem, non lacinia nunc iaculis a.<br />
</div>

<div class="featured_game">
	<%= image_tag "home_lol.png" %>
	Dit spel is zo cool blablabla ... supercool stuff over dit spel. Echt het meest coole spel van de wereld, iedereen zou dat moeten spelen. Zeker als hier een wedstrijd voor gedaan wordt voor een super coole prijs enzo. Mss hier nog een quote bij van een newspaper? lol
</div>
<div class="featured_game">
	<%= image_tag "home_minecraft.png" %>
	Dit spel is zo cool blablabla ... supercool stuff over dit spel. Echt het meest coole spel van de wereld, iedereen zou dat moeten spelen. Zeker als hier een wedstrijd voor gedaan wordt voor een super coole prijs enzo. Mss hier nog een quote bij van een newspaper? lol
</div>
<div class="featured_game">
	<%= image_tag "home_sc2.png" %>
	Dit spel is zo cool blablabla ... supercool stuff over dit spel. Echt het meest coole spel van de wereld, iedereen zou dat moeten spelen. Zeker als hier een wedstrijd voor gedaan wordt voor een super coole prijs enzo. Mss hier nog een quote bij van een newspaper? lol
</div>
